server:
  port: 80
  baseURL:  "/"
  logging:
    - levels: "info|warning|error"
  sources:
    - path: "/srv"
userDefaults:
  editorQuickSave: false                  # show quick save button in editor
  hideSidebarFileActions: false           # hide the file actions in the sidebar
  disableQuickToggles: false              # disable the quick toggles in the sidebar
  disableSearchOptions: false             # disable the search options in the search bar
  stickySidebar: true                     # keep sidebar open when navigating
  darkMode: true                          # should dark mode be enabled (defaults to true if not set)
  viewMode: "normal"                      # view mode to use: eg. normal, list, grid, or compact
  singleClick: false                      # open directory on single click, also enables middle click to open in new tab
  showHidden: false                       # show hidden files in the UI. On windows this includes files starting with a dot and windows hidden files
  dateFormat: false                       # when false, the date is relative, when true, the date is an exact timestamp
  gallerySize: 3                          # 0-9 - the size of the gallery thumbnails
  themeColor: "var(--blue)"               # theme color to use: eg. #ff0000, or var(--red), var(--purple), etc
  quickDownload: false                    # show icon to download in one click
  disablePreviewExt: ""                   # space separated list of file extensions to disable preview for
  disableViewingExt: ""                   # space separated list of file extensions to disable viewing for
  lockPassword: false                     # disable the user from changing their password
  disableSettings: false                  # disable the user from viewing the settings page
  preview:
    disableHideSidebar: false             # disable the hide sidebar preview for previews and editors
    image: true                           # show thumbnail preview image for image files (defaults to true if not set)
    video: true                           # show thumbnail preview image for video files (defaults to true if not set)
    motionVideoPreview: true              # show multiple frames for videos in thumbnail preview when hovering (defaults to true if not set)
    office: true                          # show thumbnail preview image for office files (defaults to true if not set)
    popup: true                           # show larger popup preview when hovering over thumbnail (defaults to true if not set)
    autoplayMedia: true                   # autoplay media files in preview (defaults to true if not set)
    defaultMediaPlayer: false             # disable html5 media player and use the default media player
    folder: true                          # show thumbnail preview image for folder files (defaults to true if not set)
  permissions:
    api: false                            # allow api access
    admin: false                          # allow admin access
    modify: false                         # allow modifying files
    share: false                          # allow sharing files
    realtime: false                       # allow realtime updates
    delete: false                         # allow deleting files
    create: false                         # allow creating or uploading files
    download: true                        # allow downloading files (defaults to true if not set)
  disableUpdateNotifications: false       # disable update notifications banner for admin users
  deleteWithoutConfirming: false          # delete files without confirmation
  disableOnlyOfficeExt: ".md .txt .pdf .html .xml"   # list of file extensions to disable onlyoffice editor for
  customTheme: ""                         # Name of theme to use chosen from custom themes config.
  showSelectMultiple: false               # show select multiple files on desktop
  debugOffice: false                      # debug onlyoffice editor