server:
  port: 8080
  baseURL:  "/subpath"
  internalUrl: "http://filebrowser:8080"
  logging:
    - levels: "info|error|debug"
  sources:
    - path: "../frontend/tests/playwright-files"
      config:
        defaultEnabled: true
        createUserDir: true

frontend:
  name: "Graham's Filebrowser"
  disableDefaultLinks: true
  externalLinks:
    - text: "A playwright test"
      url: "https://playwright.dev/"
      title: "Playwright"
  styling:
    disableEventThemes: true
auth:
  methods:
    password:
      enabled: false
    proxy:
      enabled: true
      header: "X-Username"
      createUser: true
      logoutRedirectUrl: "https://localhost/api/auth/logout2"

userDefaults:
  preview:
    image: true
    popup: true
    video: true
    office: true
    highQuality: true
  darkMode: true
  disableSettings: false
  singleClick: false
  permissions:
    admin: true
    modify: true
    share: true
    api: false
    download: true
    create: true

integrations:
  office:
    url: "http://localhost:9052"
    secret: "6H1H7GzUk2alRkNxAPav0W02g8JS5oUd"
    viewOnly: true