/* `--background` is intentionally set here as a placeholder for stylelint */
:root {
  --background: #fff;
  --alt-background: #ddd;
  --surfacePrimary: #ebebeb;
  --surfaceSecondary: lightgray;
  --textPrimary: #546e7a;
  --textSecondary: gray;
  --iconBackground: #dddddd;
  --activeWhiteIcon: gray;
}

.dark-mode {
  --background: #000;
  --alt-background: #283136;
  --surfacePrimary: #20292F;
  --surfaceSecondary: #3A4147;
  --divider: rgba(255, 255, 255, 0.12);
  --textPrimary: rgba(255, 255, 255, 0.87);
  --textSecondary: rgba(255, 255, 255, 0.6);
  --iconBackground: #1e1f20;
  --activeWhiteIcon: white;
}
