server:
  port: 80
  baseURL:  "/"
  logging:
    - levels: "info|error|debug"
  sources:
    - path: "../frontend/tests/playwright-files"

auth:
  methods:
    noauth: true

frontend:
  name: "Graham's Filebrowser"
  disableDefaultLinks: true
  externalLinks:
    - text: "A playwright test"
      url: "https://playwright.dev/"
      title: "Playwright"
  styling:
    disableEventThemes: true

userDefaults:
  showHidden: true
  preview:
    image: true
    popup: true
    video: true
    office: true
    highQuality: true
  permissions:
    download: true
    create: true