.button {
  display:flex;
  align-items: center;
  outline: 0;
  padding: .5em;
  border-radius: 1em;
  cursor: pointer;
  background: var(--primaryColor);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: .1s ease all;
}

.button--block {
  margin: 0 0 0.5em;
  display: block;
  width: 100%;
}

.button--red {
  background: var(--red);
}

.button--blue {
  background: var(--blue);
}

.button--flat {
  color: var(--primaryColor);
  background: var(--surfaceSecondary);
  box-shadow: 0 0 0;
  text-transform: uppercase;
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: #6f6f6f;
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.floating-action-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.searchContext {
  margin-bottom: 1em;
}