.button {
  display:flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  padding: .5em;
  border-radius: 1em;
  cursor: pointer;
  background: var(--primaryColor);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: .1s ease all;
<<<<<<< HEAD
  min-width: 2em;
  min-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

button {
  padding: 0.5em;
  border: none;
  background-color: var(--surfaceSecondary);
  transition: background-color 0.3s;
  min-width: 2em;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
=======
  text-align: center;
>>>>>>> staging/v1.2.2
}

.button--block {
  margin: 0 0 0.5em;
  display: block;
  width: 100%;
  border-style: unset;
}

.button--red {
  background: var(--red);
}

.button--blue {
  background: var(--blue);
}

.button--flat {
  color: var(--primaryColor);
  background: var(--surfaceSecondary);
  box-shadow: 0 0 0;
  text-transform: uppercase;
  padding-left: 1em;
  padding-right: 1em;
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: #6f6f6f;
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.floating-action-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.searchContext {
  margin-bottom: 1em;
}