.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  padding: .5em 1em;
  border-radius: .5rem;
  cursor: pointer;
  background: var(--primaryColor);
  color: white;
  font-weight: 500;
  box-shadow: none;
  transition: .15s ease all;
  min-width: 2em;
  min-height: 2em;
}

.button:not([disabled]):hover {
  background: color-mix(in srgb, var(--primaryColor) 85%, black);
}

button {
  padding: 0.5em;
  border: none;
  border-radius: .5rem;
  background-color: var(--surfaceSecondary);
  transition: background-color 0.15s ease;
  min-width: 2em;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:not(:disabled):not(.button):hover {
  background-color: var(--surface-hover);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--block {
  margin: 0 0 0.5em;
  display: block;
  width: 100%;
  border-style: unset;
}

.button--red {
  background: var(--red);
}

.button--red:not([disabled]):hover {
  background: var(--dark-red);
}

.button--blue {
  background: var(--blue);
}

.button--flat {
  color: var(--primaryColor);
  background: transparent;
  box-shadow: none;
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
}

.button--flat:not([disabled]):hover {
  background: var(--surface-hover);
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: var(--textSecondary);
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.floating-action-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
