/* Basic Styles */
body {
  font-family: "Roboto", sans-serif;
  padding-top: 4em;
  background-color: #fafafa;
  color: #333333;
}

body.rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

audio, video {
  width: 100%;
}

.hidden {
  display: none !important;
}

.break-word {
  word-break: break-all;
}

/* Container */
.container {
  width: 95%;
  max-width: 960px;
  margin: 1em auto 0;
}

/* Icons */
i.spin {
  animation: 1s spin linear infinite;
}

/* App Styles */
#app {
  transition: 0.2s ease padding;
}
over
#app.multiple {
  padding-bottom: 4em;
}

/* Navigation Styles */
nav {
  width: 18em;
  position: fixed;
  top: 0;
  padding-top: 4em;
  left: -19em;
  z-index: 10000;
  background: #fff;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .1s ease left;
}

body.rtl nav {
  left: unset;
  right: -17em;
}

nav.active {
  left: 0;
}

body.rtl nav.active {
  left: unset;
  right: 0;
}

nav > div {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

nav .action {
  width: 100%;
  display: block;
  border-radius: 0;
  font-size: 1.1em;
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.rtl .action {
  direction: rtl;
  text-align: right;
}

nav .action > * {
  vertical-align: middle;
}

/* Main Content */
main {
  margin: 1em;
}

.breadcrumbs {
  height: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  color: #6f6f6f;
}

.breadcrumbs span,
.breadcrumbs a {
  color: inherit;
  transition: 0.1s ease-in;
  display: flex;
  border-radius: 0.125em;
}

body.rtl .breadcrumbs a {
  transform: translateX(-16em);
}

.breadcrumbs a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.breadcrumbs span a {
  padding: 0.2em;
}

/* Files */
.files {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* Progress Bar */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999999999;
}

.progress div {
  height: 100%;
  background-color: #40c4ff;
  width: 0;
  transition: 0.2s ease width;
}

/* Animations */
@keyframes flyInFromTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#search.active #result-desktop ul li a {
  display: flex;
  align-items: center;
  padding: .3em 0;
  margin-right: .3em;
}

#result-desktop {
  animation: flyInFromTop 0.5s forwards;
}

/* File Selection */
#file-selection {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2em 50px 10px;
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  width: 95%;
  max-width: 30em;
  z-index: 1;
}

button {
  flex: 1;
  height: 3em;
  padding: 8px 16px;
  border: none;
  background-color: #f5f5f5;
  transition: background-color 0.3s;

  /* Add borders */
  border-right: 1px solid #ccc;
}

@media (min-width: 800px) {
  #file-selection {
    bottom: 4em;
  }
}

#file-selection .action {
  border-radius: 50%;
  width: auto;
}

#file-selection > span {
  display: inline-block;
  margin-left: 1em;
  color: #6f6f6f;
  margin-right: auto;
}

#file-selection .action span {
  display: none;
}
