body {
  font-family: "Roboto", sans-serif;
  padding-top: 4em;
  background-color: var(--background);
  color: #333333;
  overflow:auto;
  overflow:initial;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch;
}

body.rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

audio, video {
  width: 100%;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

.hidden {
  display: none !important;
}

.break-word {
  word-break: break-all;
}

/* Container */
.container {
  width: 95%;
  max-width: 960px;
  margin: 1em auto 0;
}

/* Icons */
i.spin {
  animation: 1s spin linear infinite;
}

/* App Styles */
#app {
  transition: 0.2s ease padding;
}
over
#app.multiple {
  padding-bottom: 4em;
}

/* Main Content */
#main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  position: fixed;
  padding-top: 4em;
  overflow: unset;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for WebKit browsers */
#main::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just make scrollbar invisible */
  display: none;
  -webkit-appearance: none;
}

.main-padding {
  padding: 0.5em;
  padding-top: 4em;
}


/* Files */
.files {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* Progress Bar */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999999999;
}

.progress div {
  height: 100%;
  background-color: #40c4ff;
  width: 0;
  transition: 0.2s ease width;
}

button {
  flex: 1;
  height: 3em;
  padding: 8px 16px;
  border: none;
  background-color: var(--surfaceSecondary);
  transition: background-color 0.3s;
  /* Add borders */
  border-right: 1px solid #ccc;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#popup-notification {
  border-radius: 1em;
  color: #fff;
  position: fixed;
  max-width: 90vw;
  height: 4em;
  bottom: 0;
  right: -20em;
  display: flex;
  padding: 0.5em;
  align-items: center;
  transition: right 1s ease;
  z-index: 5;
  margin: 1em;
  height: auto;
}

#popup-notification-content {
  color: white;
  padding: 1em;
}

#popup-notification.success {
  background: var(--primaryColor);
}

#popup-notification.error {
  background: var(--red);
}

#popup-notification > i {
  cursor: pointer;
  font-size: 1.75em;
}

input.sizeInput:disabled {
  cursor: not-allowed;
}

.sizeInputWrapper {
  border-radius: 1em;
  margin: .5em;
  display: -ms-flexbox;
  display: flex !important;
  align-items: center;
  background-color: #f5f5f5;
  padding: .25em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.sizeInput {
  text-align: center;
  border-radius: 1em;
  padding: .5em;
  border: none !important;
  margin-right: 0.5em;
  -webkit-backdrop-filter: invert(.1);
  backdrop-filter: invert(.1);
  height: 2em;
  width: 5em;
}

.roundedInputLeft {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: auto;
  background-color: var(--surfaceSecondary);
  min-width: 50%;
}

.roundedInputRight {
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--surfaceSecondary);
}

.qrcode {
  border: 0.25em;
  border-style: solid;
  border-color: white;
}
