.dashboard {
  margin: 1em;
}

.card {
  position: relative;
  margin: 0 0 1rem;
  background-color: var(--surfacePrimary);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  border-radius: var(--borderRadius);
  color: var(--textPrimary);
}

.small {
  font-size: .8em;
  line-height: 1.5;
}

body.rtl #nav .wrapper {
  margin-right: 16em;
}

.help ul {
  padding: 0;
  margin: 1em 0;
  list-style: none;
}

.card>*>*:first-child {
  margin-top: 0;
}

.card>*>*:last-child {
  margin-bottom: 0;
}

.card-title {
  text-align: center;
}

.card-title>*:first-child {
  margin-right: auto;
}

body.rtl .card-title>*:first-child {
  margin-right: 0;
  text-align: right;
}

.card-content h3 {
  text-align: center;
}

.card h2 {
  font-weight: 500;
}

.card h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 1em 0;
}

.help {
  max-width: 24em;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.overlay {
  background-color: var(--overlay);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4;
  top: 0;
}

.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition: opacity 0.2s ease;
}

.overlay-fade-enter-from,
.overlay-fade-leave-to {
  opacity: 0;
}

.overlay-prompt {
  z-index: 999;
  background-color: color-mix(in srgb, var(--overlay) 50%, transparent);
}

.card.padding-normal {
  padding: 1em;
}
