/* Header */
header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

@supports (backdrop-filter: none) {
  header {
    background-color: rgba(237, 237, 237, 0.33) !important;
    backdrop-filter: blur(16px) invert(0.1);
  }
}

header>* {
  flex: 0 0 auto;
}

header title {
  display: block;
  flex: 1 1 auto;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  text-align: center;
}

header a,
header a:hover {
  color: inherit;
}

header>div:first-child>.action,
header img {
  margin-right: 1em;
}

header img {
  height: 2.5em;
}

header .action span {
  display: none;
}

/* Header with backdrop-filter support */
@supports (backdrop-filter: none) {
  header {
    background-color: rgba(237, 237, 237, 0.33) !important;
    backdrop-filter: blur(16px) invert(0.1);
  }
}