@media (max-width: 800px) {
  #listingView .header .name,
  #listingView.compact .listing-item .name {
    width: 50%;
  }

  body {
    padding-bottom: 5em;
  }

  #listingView.list .listing-item .name {
    padding-left: 0.5em;
    width: 45%;
  }

  #more {
    display: inherit
  }

  body.rtl #dropdown {
    right: unset;
    left: 1em;
    transform-origin: top left;
  }

  header img {
    display: none;
  }

  #listingView {
    margin-bottom: 5em;
  }

  /* Don't override width for gallery and icons views - they use CSS variables */
  #listingView.list .listing-item,
  #listingView.compact .listing-item,
  #listingView.normal .listing-item {
    width: 100%
  }
  
  /* Gallery mode on mobile - use simple column-based grid */
  #listingView.gallery .folder-items,
  #listingView.gallery .file-items {
    grid-template-columns: repeat(var(--gallery-mobile-columns, 2), 1fr);
  }
  
  body.rtl #listingView {
    margin-right: unset;
  }

  body.rtl #nav .wrapper {
    margin-right: unset;
  }

  body.rtl .dashboard .row {
    margin-right: unset;
  }
}

/* Mobile Specific Styles */
.mobile-only {
  display: none !important;
}