@media (max-width: 800px) {
  #listingView .header .name,
  #listingView.list .item .name,
  #listingView.compact .item .name {
    width: 50%;
  }

  #listingView.list .item div:last-of-type{
    display:block;
    width:100%;
  }

  body {
    padding-bottom: 5em;
  }

  #listingView.list .item .name {
    width: 60%;
  }

  #more {
    display: inherit
  }

  body.rtl #dropdown {
    right: unset;
    left: 1em;
    transform-origin: top left;
  }

  header img {
    display: none;
  }

  #listingView {
    margin-bottom: 5em;
  }
  #listingView .item {
    width: 100%
  }
  body.rtl #listingView {
    margin-right: unset;
  }


  body.rtl #nav .wrapper {
    margin-right: unset;
  }

  body.rtl .dashboard .row {
    margin-right: unset;
  }

  #listingView.icons .folder-items,
  #listingView.icons .file-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding: 0.25em;
    width: 100%;
  }
  
  #listingView.icons .item i,
  #listingView.icons .item img {
    font-size: 2.5em !important;
    height: 65px !important;
    width: 65px !important;
    max-width: 65px !important;
    min-width: 65px !important;
  }
  
  #listingView.gallery .folder-items,
  #listingView.gallery .file-items {
    column-width: calc(var(--item-width) * 0.7); /* Smaller columns */
    column-gap: 0.5em;
  }
  
  #listingView.gallery .item {
    margin-bottom: 0.5em;
  }
  
  #listingView.gallery .item .text {
    padding: 1em 0.3em 0.3em;
  }
  
  #listingView.gallery .item .text .name {
    font-size: 0.9em;
  }
  
  #listingView.gallery .item i {
    font-size: 3em;
  }
}


@media (max-width: 450px) {

  #listingView.list .item .name {
    width: 100%;
  }
}

/* Mobile Specific Styles */
.mobile-only {
  display: none !important;
}