server:
  port: 8080
  logging:
    - levels: "info|error|debug"
  sources:
    - path: "../frontend/tests/playwright-files"
      config:
        defaultEnabled: true
        createUserDir: true

frontend:
  name: "Graham's Filebrowser"
  disableDefaultLinks: true
  externalLinks:
    - text: "A playwright test"
      url: "https://playwright.dev/"
      title: "Playwright"
  styling:
    disableEventThemes: true
auth:
  methods:
    password:
      enabled: false
    jwt:
      enabled: true
      secret: "test-jwt-secret-key-for-development-only-do-not-use-in-production"
      algorithm: "HS256"
      header: "X-JWT-Assertion"
      userIdentifier: "sub"
      groupsClaim: "mygroup"
      adminGroup: "admin"
userDefaults:
  preview:
    image: true
    popup: true
    video: true
    office: true
    highQuality: true
  darkMode: true
  disableSettings: false
  singleClick: false
  permissions:
    admin: false
    modify: true
    share: true
    api: false
    download: true
    create: true