name: tag

on:
  push:
    tags:
      - "stable_v*"

permissions:
  contents: write

jobs:
  update_tag:
    name: Update Release tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
      - name: Install dependencies and build frontend
        run: npm i && npm run build
        working-directory: frontend
      - name: Install UPX
        run: sudo apt-get install -y upx
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
          workdir: backend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
